{% extends 'SyliusWebBundle:Frontend:error_layout.html.twig' %}

{% block content %}
<div class="info">
	<h1>404</h1>
	<p>The page you're looking for doesn't exist.</p>

	<p class="go-back">
		Go to our <a href="{{ path('sylius_homepage') }}">Home page</a>.
	</p>
</div>
<div id="container">
</div>
{% endblock %}
