{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<div id="gallery">
<div id="showcase" style="margin-bottom: 0;">
<div class="container">
	<div class="row header">
		<h3 style="text-align: left;">{{ 'registration.confirmed'|trans({'%username%': user.firstName}) }}</h3>
	</div>

	<br>

	<a href="{{ path('sylius_product_index') }}">Go to Browse Rings</a>
</div>
</div>
</div>
{% endblock %}
