<h2 style="text-align: center;font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
font-size: 28px;
color: #087109;
font-weight: 300;">Order has been Completed Succesfully</h2>

<h2 style="text-align: center;font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
font-size: 24px;
color: #087109;
font-weight: 300;">Thanks for ordering with us</h2>

<p style="text-align: center;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
font-size: 14px;">You will receive the confirmation via email</p>
<h4 style="text-align: center;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
font-size: 16px;">Please do not forget to check your email to confirm your order</h4>
<p style="text-align: center;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
font-size: 14px;">(Sometime mail will be in your spam folder, so please check in your spam folder)</p>
<div style="width: 100%;">
	<img src="{{ asset('bundles/syliusweb/images/thanks_pic.jpg') }}" style="width: 50%;
margin: 0 auto;
display: block;">
</div>