{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Frontend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import list %}

{% block main %}
<div class="page-header" style="margin: 0;width: 100%;background: url({{ asset('bundles/syliusweb/images/titleImage.jpg') }}) no-repeat center 12% background-size: cover;">
</div>

{#{ pagination(products) }#}
{{ list(products) }}
{#{ pagination(products) }#}

{% endblock %}
