{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block main %}
<div id="blogpost">
<div id="blogpost-wrapper">
	<div class="container">
		<div class="row">
				<div class="col-md-12">
					<div class="main-pic">
						<img src="{{ post.image ? asset('media/image/'~post.image) : 'http://placehold.it/120x120' }}" class="img-responsive" alt="blogpost" />
					</div>					
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 post">
					<div class="title">
						{{ post.title }}
					</div>
					<div class="author">
						{{ post.createdAt|localizeddate('long', 'none', null, null, "MMMM dd, yyyy") }}
					</div>
					<div class="content">
						<p>
							{{ post.text }}
						</p>			
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}