{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block main %}
<div id="blogpost">
<div id="blogpost-wrapper">
	<div class="container">
		<div class="row">
				<div class="col-md-12">
					<div class="main-pic">
						<img src="images/blogpost5.png" class="img-responsive" alt="blogpost" />
					</div>					
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 post">
					<div class="title">
						A brief history of climate science gone wrong
					</div>
					<div class="author">
						August 16, 2013
					</div>
					<div class="content">
						<p>
							I love making the stuff, that’s sort of the core of it. I love creating the stuff. It’s so satisfying to get from the beginning to the end, from a shaky nothing idea to something that’s well formed and the audience really likes. It’s like a drug: You keep trying to do it again and again and again. I’ve learned from experience that if you work harder at it, and apply more energy and time to it, and more consistency, you get a better result. It comes from the work.
							<br />
							Functionality is so over-valued in design, and we’ve kept design very small in that way. Functionality is the sheer minimum. If your house burns down, what do you take? The cat in the window that you got from your mother, or the chair you have?
						</p>			
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}