{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block main %}
<div id="gallery">
<div id="showcase" style="margin-bottom: 0;">
	<div class="container">
		<div class="row header">
			<h3>Your Account</h3>
			<div class="accountMenu">
				<a href="{{ path('sylius_account_homepage') }}">Profile</a> - 
				<a href="{{ path('fos_user_profile_edit') }}">Edit personal information</a> -
				<a href="{{ path('fos_user_change_password') }}">Edit password</a>
			</div>
		</div>
	
		<br>
	
		{% block content %}
		{% endblock %}
	</div>
</div>
</div>
{% endblock %}
