{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block main %}
<div id="portfolio">
<div id="showcase">
<div class="container">
	<div class="row header">
		<div class="col-md-12">
			<h3>Everything You Need to Know</h3>
			<p>Diamond and engagement ring knowledge</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="project">
				<div class="row">
					<div class="col-md-6">
						<ul>
							<li>Diamond Grading- Four C’s</li>
							<li>Ring Styles and Metals</li>
							<li>Diamond Certificates and Ethical Stones</li>
						</ul>
					</div>
					<div class="col-md-6">
						<img src="{{ asset('bundles/syliusweb/images/diamond-education.jpg') }}" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
{% endblock %}