{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block main %}
<div id="services">
<div id="hero">
	<div class="container">
		<div class="row" style="overflow:hidden;">
			<div class="col-md-5 image">
				<img src="{{ asset('bundles/syliusweb/images/gemology.jpg') }}" class="img-responsive animated fadeInUp" alt="Gemology">
			</div>
			<div class="col-md-7 info">
				<h3>We’re here to help</h3>
				<p>
					Please let us know if there is anything we can do to improve your engagement ring shopping experience.
					<br>
					E-mail us anytime at: <a href="mailto:service@legemdary.com">service@legemdary.com</a>
					<br>
					Call: 1-888-338-9721, 7days a week from 8 am to 11pm EST
				</p>
			</div>
		</div>
	</div>
</div>
<div id="tabs">
	<div class="container">
		<div class="row">
			<div class="col-md-12 hexagons">
				<div class="hexagon active">
					<span class="icon ion-plane"></span>
				</div>
				<div class="hexagon">
					<span class="icon ion-reply"></span>
				</div>
				<div class="hexagon">
					<span class="icon ion-card"></span>
				</div>
				<div class="hexagon">
					<span class="icon ion-ios7-locked-outline"></span>
				</div>
				<div class="hexagon">
					<span class="icon ion-gear-b"></span>
				</div>
			</div>				
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="sections">
					<div class="section active" style="display: block;">
						<h4>Free, Secure Shipping</h4>
						<p>
							We ship diamond engagement rings domestically in the United States. At the present moment we do not ship internationally. Legemdary’s orders are shipped with the reliability and accountability of FedEx shipping. We can deliver to your home, business, or closest FedEx location.
						</p>
						<p>
							Regardless of total order amount, Legemdary provides fast, secure, and free shipping on all order destinations. 
						</p>
						<p>
							All shipped orders are fully insured during transit to ensure the maximum security. A signature is required at the time of delivery. Make sure to inspect the packages for any signs of damage or tampering before signing and accepting.
						</p>
						<p>
							Your engagement ring will generally arrive between one to three weeks after your order is placed. Our quality assurance team carefully inspects every diamond and before crafting your engagement ring. If you need your ring delivered sooner, we can expedite some orders. To find out if your order can be expedited, contact our Customer Service Department at 1-888-338-9721.
						</p>
					</div>
					<div class="section" style="display: none;">
						<h4>30 Day Returns</h4>
						<p>
							If, for any reason, you are not completely satisfied with your order, you may return it within the first 30 days of shipment for a full refund or exchange.  Free returns are limited to two per customer. To return an item, simply follow the Return Procedures listed below:
						</p>
						<ol>
							<li>Contact our Customer Service department at 1-888-338-9721.</li>
							<li>Advise the representative that you wish to return your order.</li>
							<li>Within one business day of your phone call we will email you a pre-paid, fully insured FedEx 2-Day label, along with instructions on how to safely and securely package your items.</li>
							<li>Take your order and the label to the nearest FedEx location and simply mail it back to us! If you need packaging materials, FedEx will assist you.</li>
							<li>All refunds will be processed within two weeks and done in the form of the original purchase method. Bank wires will be refunded via company check.</li>
						</ol>
						<p>
							Returned merchandise must be undamaged and in "new and unused condition." The returned merchandise must be accompanied by the original GIA laboratory grading report.
						</p>
					</div>
					<div class="section">
						<h4>Payment</h4>
						<p>
							We accept all major credit cards (Visa, MasterCard, American Express, and Discover), as well as PayPal, certified checks and money orders, and wire transfers.
						</p>
						<p>
							Credit card orders can be placed online or over the phone with our customer service department. For security purposes, Legemdary may request additional documentation (such as drivers license, photocopy of credit card, etc.) on some transactions.
						</p>
						<p>
							Legemdary only collects sales tax on orders that are shipped to New Jersey.
						</p>
					</div>
					<div class="section">
						<h4>Policies and Security</h4>
						<p>
							Legemdary diligently protects and secures our customers' purchases and information. We use secure encryption and fraud protection for all credit card transactions. All sensitive data is encrypted using 256-bit Secure Socket Layers (SSL). 
						</p>
						<p>
							We do not share information with third parties. You can review our <a href="#">privacy policy</a> here.
						</p>
					</div>
					<div class="section">
						<h4>Orders and Alterations</h4>
						<p>
							We provide one free resizing within 30 days of purchase. If you need help determining your <a href="{{ path('sylius_ring_sizer') }}">ring size</a> please refer to our ring size advice page.
						</p>
						<p>
							Every finished engagement ring will be accompanied by a full insurance valuation. We provide you with an insurance appraisal that you can use to obtain coverage, we do not provide jewelry insurance. 
						</p>
						<p>
							All engagement rings purchased from Legemdary are eligible for free maintenance in the first year of purchase. You may also return your jewelry to our offices for free prong tightening, repolishing, and cleaning. Contact Customer Service at 1-888-338-9721 for more information.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<br><br><br>
<br><br><br>
{% endblock %}